/MTMP-Unity_Castle_Visualisation/Library
/MTMP-Unity_Castle_Visualisation/Logs
/MTMP-Unity_Castle_Visualisation/ProjectSettings
/MTMP-Unity_Castle_Visualisation/Temp
/MTMP-Unity_Castle_Visualisation/UserSettings
/MTMP-Unity_Castle_Visualisation/Packages
